
* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    color: #000;
    background: #98BEF0;
}

.stopwatch{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 398px;
    height: 250px;

    border: 5px solid #000;
    padding: 30px;
    background: #fff;
}

.header {
    height: 35px;
    width: 350px
}

.label{
    float: left;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-size: 25px;
    width: 85px;
    margin-left: -6px;
    margin-right: 7px;
}

.time {
    margin-bottom: 80px; 
}

.digit{
    width: 58px;
    height: 55px;
    float: left;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-size: 50px;
}

.colon{
    width: 30px;
    float: left;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-right: 13px;
    text-align: center;
    font-size: 50px;
}

.controls{
    width: 350px;
    height: 60px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.controls button{
    background-color: #fff;
    border: 2px solid #000000;
    color: #000000;
    font-size: 14px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    margin-left: 8px;
    margin-right: 7px;
}

.controls button:hover{
    background-color: #98BEF0;
    border: 2px solid #98BEF0;
    color: #fff;
}